$red: #ff102f;
$white: #ffffff;
$blue: #004aa4;

@font-face {
  font-family: 'Chicago';
  src: url('/Typography/Chicago.ttf');
}

body {
  margin: 0;
  padding: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Chicago', Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid $red;
}

.filters {
  padding: 20px;
  display: flex;
  justify-content: center;

  label, > div {
    padding: 0 20px;
  }
}

table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  cursor: crosshair;
}

thead {
  color: $white;
  background-color: $red;
  text-align: left;
}

th, td {
  border: 2px solid $red;

  tbody & {
    border-color: $blue;
  }
}

tbody tr:hover,
tbody tr:focus {
  background-color: $blue;
  color: $white;
  transition-duration: 100ms;
}

.custom-select {
  font-family: 'Chicago';
  position: relative;
  display: inline-block;
}

.select-trigger {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  width: 200px; /* Adjust as needed */
}

.select-options {
  display: block; /* Show options */
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}

.select-options li {
  padding: 10px;
  cursor: pointer;
}

.select-options li:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}
